body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbarNav {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#logo {
  color: #0D6EFD;
  text-decoration: none;
  font-size: x-large;
  font-family: cursive;
}


.signinPage {
  background-image: linear-gradient(to bottom right, #EAE0FF, #D1F9FC);
  height: 100vh;
  margin: 0%;
  padding: 10% 20%;
}

/* .signinPageInner {
  background-image: url(./images/signin.png);
  height: 100vh;
  padding: 10% 20%;
  background-size: contain;
  opacity: 0.8;
} */

.signupPage {
  background-image: url(./images/development.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0%;
  padding: 1% 25%;
}



/* Dashboard */
.dashboard{
  background-image: linear-gradient(to bottom left, #9b5fee, #638dc5);
  height: 100vh;
  margin: 0%;
  display:flex;
}

.toggleButton{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.sidebar
{
  height: 100vh;
  overflow: hidden;
  color: #212529;
  padding: 5px 10px;
  background-color: white;
}

.dashboardLogo{
  font-size: xx-large;
  border-bottom: 1px solid ;
  padding: 15px;
}

.sidebarList{
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.sidebarLi{
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.sidebarLi:hover{
  background-color: #0D6EFD;
  color: white;
}

.sidebarLink{
  text-decoration: none;
  color: #212529;
}